{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"RootDir": "/circuit-scroller"
	},
	"Install": {
		"RootDir": "/Users/petar/_scroller/circuit",
		"LibPath": ".",
		"Binary":  "4r-scroller"
	},
	"Build": {
		"Host":             "localhost",
		"Jail":             "/Users/petar/_scroller/build",
		"AppRepo":          "{rsync}/Users/petar/gocircuit",
		"AppSrc":           "/",
		"Pkg":              "circuit/sys/acid/scroller/worker",
		"Show":             true,
		"RebuildGo":        false,
		"ZookeeperInclude": "/Users/petar/local/include/c-client-src",
		"ZookeeperLib":     "/Users/petar/local/lib",
		"CircuitRepo":      "{rsync}/Users/petar/gocircuit",
		"CircuitSrc":       "/",
		"Tool":             "/Users/petar/gocircuit/bin/4build",
		"ShipDir":          "/Users/petar/_scroller/ship"
	}
}
