{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"RootDir": "/circuit"
	},
	"Install": {
		"RootDir": "/Users/petar/_circuit/live",
		"LibPath": "",
		"Binary":  "4r-sandbox"
	},
	"Build": {
		"Repo":             "git@github.com:tumblr/platform.git",
		"GoPath":           "go",
		"Pkg":              "tumblr/TUMBLR/app",
		"Host":             "localhost",
		"Tool":             "/Users/petar/gocircuit/src/tumblr/circuit/4build/4build",
		"Jail":             "/Users/petar/_circuit/build",
		"RebuildGo":        true,
		"ShipDir":          "/Users/petar/_circuit/ship",
		"ZookeeperInclude": "/Users/petar/local/include/c-client-src",
		"ZookeeperLib":     "/Users/petar/local/lib"
	}
}
