{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"RootDir": "/circuit"
	},
	"Install": {
		"RootDir": "/Users/petar/_circuit/live",
		"LibPath": "",
		"Binary":  "4r-sandbox"
	},
	"Build": {
		"Binary":           "4r-sandbox",
		"Jail":             "/Users/petar/_circuit/build",
		"AppRepo":          "git@github.com:tumblr/platform.git",
		"AppSrc":           "go",
		"Pkg":              "tumblr/stat",
		"Show":             true,
		"RebuildGo":        true,
		"ZookeeperInclude": "/Users/petar/local/include/c-client-src",
		"ZookeeperLib":     "/Users/petar/local/lib",
		"CircuitRepo":      "git@github.com:tumblr/gocircuit.git",
		"CircuitSrc":       ".",
		"Host":             "localhost",
		"Tool":             "/Users/petar/gocircuit/src/tumblr/circuit/cmd/4build/4build",
		"ShipDir":          "/Users/petar/_circuit/ship"
	}
}
